-var tituloemma="Emma Watson protagonizará 'La bella y La Bestia |Video'"
-var contenidoemma="La actriz Emma Watson fue confirmada por Disney como la protagonista de 'La Bella y La Bestia' en la versión de carne y hueso."
-var tituloroque="Roque Benavides respalda proyecto Tía María y espera que Conga se socialice"
-var contenidoroque="Zenaida condori Contreras Arequipa Para el Presidente de la Compañia de Minas Buenaventura, Roque Benavides, el proyecto Tía María que promueve Southern Perú, ya debe..."
-var tituloyt="Youtube: hombre finge ahogarse y su perro lo rescata |FOTOS"
-var titulorealmadrid="Real Madrid: Cristiano Ronaldo fue sancionado con dos partidos y sí estará contra el Atlético de Madrid"
-var contenidorealmadrid="Después de la pésima actitud de Cristiano Ronaldo, al agredir a Edimar en el partido del cuadro madridista contra el Córdoba, el Comité de Competición ha llegado a la ..."
