doctype html
html(lang='es')
    head
        meta(charset='UTF-8')
        title Home
        link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Oswald:400,700', rel='stylesheet', type='text/css')
        link(rel='stylesheet', type='text/css', href='assets/css/dist/font-awesome.min.css')
        link(rel='stylesheet', type='text/css', href='assets/css/dist/bootstrap.css')
        link(rel='stylesheet', type='text/css', href='assets/css/dist/slick.css')
        link(rel='stylesheet', type='text/css', href='assets/css/dist/slick-theme.css')
        link(rel='stylesheet', type='text/css', href='assets/css/footer.css')
        link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
        mixin juan
            .juan
                img(src="assets/image/img_aweita.jpg")
                h4 Juan Ramón Riquelme el adíos al 'Último 10' de Argentina
        mixin lewis
            .lewis
                img(src="assets/image/img_aweita.jpg")
                h4 Lewi Caroll:un día como hoy nació el autor de 'Alicia en el
    body
        aside
            .container
                .row
                    img(src="assets/image/banner-aside-home.jpg")
                .row
                    .aweita
                        img(src="assets/image/logo_aweita.jpg")
                        +juan
                        +lewis
                        +juan
                        +lewis
                        .plus
                            p Más en 
                                a(href="#") Aweita.pe
        script(src='http://code.jquery.com/jquery-1.11.2.min.js')
        script(src='http://code.jquery.com/jquery-migrate-1.2.1.min.js')
        script(type='text/javascript', src='js/bootstrap.min.js')
        script(type='text/javascript', src='js/slick.min.js')
        script(type='text/javascript', src='js/bootstrap-hover-dropdown.min.js')
        script(type='text/javascript', src='js/modernizr.custom.68172.js')
        script(type='text/javascript', src='js/respond.js')