doctype html
html(lang='es')
    head
        meta(charset='UTF-8')
        title Home
        link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Oswald:400,700', rel='stylesheet', type='text/css')
        link(rel='stylesheet', type='text/css', href='assets/css/dist/font-awesome.min.css')
        link(rel='stylesheet', type='text/css', href='assets/css/dist/bootstrap.css')
        link(rel='stylesheet', type='text/css', href='assets/css/dist/slick.css')
        link(rel='stylesheet', type='text/css', href='assets/css/dist/slick-theme.css')
        link(rel='stylesheet', type='text/css', href='assets/css/footer.css')
        link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
        mixin a
            li Al fondo hay sitio
            li Alejandro Toledo
            li Alianza Lima
            li Alianza Lima
            li Banco de la Nación
            li Barack Obama
        mixin universidad
            li Universidad César Vallejo
            li Universidad San Martín
        mixin bayern
            li Bayern Múnich
            li Bayern Múnich
            li BBVA
            li Xbox
            li BCP
    body
        footer
            .container
                .row
                    .col-lg-4.col-md-12.col-xs-12
                        .box
                            img(src="assets/image/logo-grupo-la-republica.png")
                            h3 Grupo La Républica Digital 
                            p
                            | Jr. Camaná 320 Cercado de Lima 
                            br
                            | Telefono:711 - 6000
                            br
                            | Central Telefónica
                            p.reservados Todos los derechos reservados - 2015
                    .col-lg-2.col-md-12.col-xs-12
                        li Roger Federer
                        li SBS
                        li Scarlett Johansson
                        li Scotiabank
                        li Selena Gómez
                        li Spiderman
                        li Sporting Cristal
                        li Sunat
                        li Telefónica del Perú
                        li The Walking Dead
                        li Twitter
                        +universidad
                        li Universitario de Deportes
                        li Xbox
                        li Youtube
                        +bayern
                    .col-lg-2.col-md-12.col.xs-12
                        +a
                        +universidad
                        li Barcelona
                        +bayern
                        li Batman
                        +bayern
                    .col-lg-2.col-md-12.col-xs-12
                        li One Direction
                        li ONPE
                        li Pablo Escobar
                        li Paolo Guerrero
                        li Pensión 65
                        li PNP
                        li Precio del dólar
                        +universidad
                        li Premier League
                        +bayern
                        li Proyecto Conga
                        li PUCP
                        li Real Madrid
                        li Redes Sociales
                        li Reniec
                        li Robert Pattinson
                    .col-lg-2.col-md-12.col-xs-12
                        +a
                        li Universidad César Vallejo
                        +bayern
                        li Universidad San Martín
                        li Barcelona
                        li Batman
                        +bayern
        footer.footer
            .container
                p.reservados Diarios del PAL:Clarín | La Tercera | El Universal Colombia | El Universal Venezuela | Vanguardia | La Prensa | El Salvador | La verdad | Diario Libre | El diario de hoy | El colombiano
        script(src='http://code.jquery.com/jquery-1.11.2.min.js')
        script(src='http://code.jquery.com/jquery-migrate-1.2.1.min.js')
        script(type='text/javascript', src='js/bootstrap.min.js')
        script(type='text/javascript', src='js/slick.min.js')
        script(type='text/javascript', src='js/bootstrap-hover-dropdown.min.js')
        script(type='text/javascript', src='js/modernizr.custom.68172.js')
        script(type='text/javascript', src='js/respond.js')