doctype html
html(lang='es')
    head
        meta(charset='UTF-8')
        title Home
        link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Oswald:400,700', rel='stylesheet', type='text/css')
        link(rel='stylesheet', type='text/css', href='assets/css/dist/font-awesome.min.css')
        link(rel='stylesheet', type='text/css', href='assets/css/dist/bootstrap.css')
        link(rel='stylesheet', type='text/css', href='assets/css/dist/slick.css')
        link(rel='stylesheet', type='text/css', href='assets/css/dist/slick-theme.css')
        link(rel='stylesheet', type='text/css', href='assets/css/header.css')
        link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
    body
        header
            .container
                .row.text-center.hidden-md.hidden-xs
                    img(src="assets/image/banner_top.jpg")
                .row
                    .col-lg-6
                        ul.list-unstyled.list-inline.nav
                            li: a(href='#') LIBERO.PE
                            li: a(href='#') ELPOPULAR.PE
                            li: a(href='#') FUNDACIÓN GUSTAVO MOHME LLONA
                    .col-lg-4
                        ul.list-unstyled.list-inline
                            li: a(href="#") SUSCRIBETE AL BOLETIN
                            li: a(href="#")
                                    i.fa.fa-facebook
                            li: a(href="#")
                                    i.fa.fa-twitter
                            li: a(href="#")
                                    i.fa.fa-google-plus
                            li: a(href="#")
                                    i.fa.fa-envelope
                            li: a(href="#")
                                    i.fa.fa-rss
                    .col-lg-2
                        form: a(href="#") BUSCAR
                                i.fa.fa-search 
        secction.republica
            .container
                .row
                    .col-lg-4
                        img.pe(src="assets/image/logo-la-republica.jpg")
                    .col-lg-4
                        .sunday.text-center
                            span DOMINGO
                            h4 HABLA LA LIDERESA DEL NACIONALISMO
                    .col-lg-4
                        .edit
                            img.img-responsive.texto(src="assets/image/img_editorial_text.jpg")
                            .cita.text-center
                                h4 La corrupción, los orígenes
                                p por: Gustavo Mohme Llona
                            img.img-responsive.author(src="assets/image/img_author.jpg")
        secction.red
            .container
                .row
                    ul.list-inline.list-unilysted.first-nav
                        li
                            a(href="#") POLITICA
                        li
                            a(href="#") ECONOMÍA
                        li
                            a(href="#") SOCIEDAD
                        li
                            a(href="#") ELECC.REGIONALES
                        li
                            a(href="#") DEPORTES
                        li
                            a(href="#") CHAMPIONS L.
                        li
                            a(href="#") ESPECTÁCULOS
                        li
                            a(href="#") ED.IMPRESA
                        li
                            a(href="#") REGIONALES
                        li
                            a(href="#") MAS SECCIONES
                    .themes
                        span TEMAS DEL DIA
                        ul.day
                            li
                                a(href="#")
                                    i.fa.fa-angle-left 
                                    span   Globos de oro
                            li
                                a(href="#")
                                    i.fa.fa-circle
                                    span   Youtube
                            li
                                a(href="#")
                                    i.fa.fa-circle
                                    span   PNP
                            li
                                a(href="#")
                                    i.fa.fa-circle
                                    span   Charlie Hebdo
                            li
                                a(href="#")
                                    i.fa.fa-circle
                                    span   FC Barcelona
                            li
                                a(href="#")
                                    i.fa.fa-circle
                                    span   Alianza Lima
                            li
                                a(href="#")
                                    i.fa.fa-circle
                                    span   Balon de Oro
                            li
                                a(href="#")
                                    i.fa.fa-circle
                                    span   Alianza Lima
                            li
                                a(href="#")
                                    span   Balon
                                    i.fa.fa-angle-right
                .row.hidden-md.hidden-xs
                    img(src="assets/image/banner-header.jpg")
        script(src='http://code.jquery.com/jquery-1.11.2.min.js')
        script(src='http://code.jquery.com/jquery-migrate-1.2.1.min.js')
        script(type='text/javascript', src='js/bootstrap.min.js')
        script(type='text/javascript', src='js/slick.min.js')
        script(type='text/javascript', src='js/bootstrap-hover-dropdown.min.js')
        script(type='text/javascript', src='js/modernizr.custom.68172.js')
        script(type='text/javascript', src='js/respond.js')