doctype html
html(lang='es')
    head
        meta(charset='UTF-8')
        title Home
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Oswald:400,700', rel='stylesheet', type='text/css')
<<<<<<< HEAD
        link(rel='stylesheet', type='text/css', href='assets/css/dist/font-awesome.min.css')
        link(rel='stylesheet', type='text/css', href='assets/css/dist/bootstrap.css')
=======
        link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
>>>>>>> 2d039511d4092663d11ca03d70db98c3cf618925
        link(rel='stylesheet', type='text/css', href='assets/css/dist/slick.css')
        link(rel='stylesheet', type='text/css', href='assets/css/dist/slick-theme.css')
        link(rel='stylesheet', type='text/css', href='assets/css/main.css')
    body
        include ./_variables
        include ./_extends
        include ./_mixins
        
        section#portada
            .container
                .row
                    .col-xs-12
                        p.titular-principal guerra en la municipalidad de lima metropolitana
                        +redes
                .row
                    .col-xs-12.col-md-6
                        a(href="#").portada-principal
                            p JNE inpulsará campaña en favor de la aprobación de la Reforma Electoral
                            .sombra
                    .col-xs-12.col-md-6
                        a(href="#").portada-secundaria.uno
                            p Martín Belaunde Lossio: Empresas vinculadas al empresario contrataron por S/. 3 000 millones |Fotos
                            .sombra
                        a(href="#").portada-secundaria.dos
                            p Sub 20 Perú vs Paraguay: bicolor empató 1-1  y pasó al hexagonal final del Sudamericano |Video
                            .sombra
        section#columnistas
            .container
                .row
                    .col-xs-12
                        h2
                            a columnistas
                        #myCarousel.carousel.slide(data-ride="carousel")
                            ol.carousel-indicators
                                li(data-target="#myCarousel", data-slide-to="0", class="active")
                                li(data-target="#myCarousel", data-slide-to="1")
                                li(data-target="#myCarousel", data-slide-to="2")
                            div(role="listbox", class="carousel-inner")
                                .item.active
                                    +mvll
                                    +alvarezrodrich
                                    +mvll
                                    +alvarezrodrich
                                    +mvll
                                    +columnistax
                                .item
                                    +mvll
                                    +alvarezrodrich
                                    +mvll
                                    +alvarezrodrich
                                    +mvll
                                    +columnistax
                                .item
                                    +mvll
                                    +alvarezrodrich
                                    +mvll
                                    +alvarezrodrich
                                    +mvll
                                    +columnistax
                            
                                
                            
        section#avances
            .container
                .row
                    .hidden-xs.col-md-4
                        +avances("Mercado de Pases 2015", "Mercado de Pases 2015: altas, bajas y rumores de los equipos peraunos", "noticia uno")
                        +avances("Champions League", "¿Podrá el Real Madrid conseguir la Undécima?", "noticia dos")
                    .hidden-xs.col-md-4
                        +avances("Régimen laboral juvenil", "Ollanta Humala: los que han perdido, más allá de tambores y panderetas, son 2 millones de jóvenes |VIDEO", "noticia tres")                        
                        +avances("Super Bowl", "El Super Bowl XLIX: New England Patriots se consagró campeón la NFL al ganar 28-24 a Seahawks |VIDEO", "noticia cuatro")
        
        section#ultimasnoticias
            .container
                .row
                    .col-xs-12.col-md-8
                        h3 ÚLTIMAS NOTICIAS
                            img(src="assets/image/double-arrow-bottom.png", alt="arrow")
                        .latest-news
                            +emma
                            +roque
                            +notayt
                            +realmadrid
                            +emma
                            +roque
                            +notayt
                            +realmadrid
                            +emma
                            +roque
                            +notayt
                            +realmadrid
                            +roque
                            +notayt
                            +realmadrid
                            +emma
                            +roque
                            +notayt
                            +realmadrid
                            +emma
                            +roque
                            +notayt
                            +realmadrid
                            +roque
                            +notayt
                            +realmadrid
                            +emma
                            +roque
                            +notayt
                            +realmadrid
                            +emma
                            +roque
                            +notayt
                            +realmadrid
                            +realmadrid

                                           
                                                    
                    


        script(src='http://code.jquery.com/jquery-1.11.2.min.js')
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")               
        script(type='text/javascript', src='js/bootstrap-hover-dropdown.min.js')
        script(type='text/javascript', src='js/slick.min.js') 
        
        script(type='text/javascript', src='js/modernizr.custom.68172.js')
        script(type='text/javascript', src='js/respond.js')
        script(type='text/javascript', src='js/main.js')