%titulosseccion {
	border-top: 4px solid #B20000;
	text-align: center;
    position: relative;
    font-size: 24px;
	a {
		font-family: $Oswald;
		font-size: 18px;
		text-transform: uppercase;
		display: inline-block;
	    padding: 10px 15px;
	    line-height: 1;
	    letter-spacing: 1px;
	    background-color: #B20000;
	    color: #fff;
	    position: relative;
	    top: -10px;
	    text-transform: uppercase;
	}
}