#portada {
	.titular-principal {
		font-family: $OpenSans;
		font-size: 55px;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 1;
		text-align: center;
		letter-spacing: -1px;
		margin: 20px 0;
	}
	.portada-principal {
		background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(../image/img_grid_principal.jpg);
		background-position: top;
		background-size: cover;
		background-repeat: no-repeat;
		height: 500px;
		width: 100%;
		display: block;
		position: relative;
		padding: 0 15px;
		p {
			@include titulares(28px);
		}
	}
	.portada-secundaria {
		background-size: cover;
		background-position: top;
		background-repeat: no-repeat;
		height: 240px;
		width: 100%;
		display: block;
		position: relative;
		padding: 0 15px;
		p {
			@include titulares(20px);
		}
		&.uno {
			background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(../image/img_grid_secundario.jpg);
			margin-bottom: 10px;
		}
		&.dos {
			background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url(../image/post-img-sample.jpg);
			margin-top: 10px;
		}
	}
}
#columnistas {
	h2 {
		@extend %titulosseccion;
	}
}
.slider {
	width: 100%;
	margin: auto;
	background-color: #F2F2F2;
	padding: 20px;
	.node {
		display: inline-block;
	}
	.columnista {
		width: 140px;
		padding: 15px 10px;
		.foto-perfil {
			width: 80px;
			height: auto;
			padding: 5px;
			background-color: white;
			box-shadow: 0 0 2px gray;
			display: block;
			margin: 10px auto;
			img {
				width: 100%;
				height: auto;
			}
		}
		.nombre {
			text-align: center;
			text-decoration: none;
			font-family: $OpenSans;
			font-size: 12px;
			font-weight: 700;
			color: gray;
		}
		.titular {
			text-align: center;
			font-family: $OpenSans;
			font-size: 14px;
			font-weight: 700;
			color: #545454;
		}

	}
}
.controllers {
	i {
		font-size: 12px;
		color: #B20000;
		display: inline-block;
	}
}

#avances {
	.avance {
		
	}
}
#share {
	position: relative;
	z-index: 1000;
	height: 40px;
	li {
		margin: 0;
		padding: 0;
		list-style: none;
		position: absolute;
		top: 0;
		a {
			height: 40px;
			display: inline-block;
			#fb {
				left: 0;
				width: 40px;
				background: url("../../assets/image/social_sprite.png") 0 0;
			}

		}
	}
}