$color-fondo:#F2F2F2;
$color-gris:#BDBDBD;
$color-gris-oscuro:#848484;
$color-rojo:#DF0101;
$color-facebook:#2A65A1;
$color-twitter:#4BB7D9;
$color-google:#FF0000;
$color-mail:#FFBF00;
$color-rss:#FD9328;
$color-azul-oscuro:#0B3861;
$color-rojo-oscuro: #941010;
header{
	padding-top: 10px;
	background-color:$color-fondo;
	border-bottom: 1px solid $color-gris;
	img{
		width:100%;
		margin-bottom:10px;
	}
	a{
		font-weight: 700;
		font-size: 15px;
	}
	.col-lg-6{
		ul{
			li{
				display:inline-block;
				a{
					font-size: 13px;
					color:$color-gris-oscuro;
					text-decoration:none;	
				}
			}
		}
	}
	.col-lg-4{
		ul{
			margin:10px 0 10px 0;
			li{
				&:nth-child(1){
					a{
						color:white;
						background:$color-rojo;
						border-radius: 5px;
						padding:3px;
						text-decoration:none;
					}
				}
				&:nth-child(2){
					a{
						color:$color-facebook;
					}
				}
				&:nth-child(3){
					a{
						color:$color-twitter;
					}
				}
				&:nth-child(4){
					a{
						color:$color-google;
					}
				}
				&:nth-child(5){
					a{
						color:$color-mail;
					}
				}
				&:nth-child(6){
					a{
						color:$color-rss;
					}
				}	
			}
		}
	}
	form{
		display:inline-block;
		padding: 10px;
		border-left: 1px solid $color-gris;
		border-right: 1px solid $color-gris;
		a{
			color:$color-azul-oscuro;
			font-size:13px;
			text-decoration:none;
		}
		.fa{
			margin:0 5px 0 5px;
			transform:rotate(90deg);
		}
	}
}
.republica{
	.pe{
		margin-top:35px;
	}
	.edit, .sunday, .special{
		border:1px solid $color-gris;
		position: relative;
		margin:20px 0 20px 0;
	}
	.sunday{
		padding: 15px 10px 10px; 
		border-bottom:3px solid $color-rojo-oscuro;
		h4{
			font-size: 14px;
			font-weight:bolder;
		}
		span{
			background-color:$color-rojo-oscuro;
			color: white;
			font-weight: 800;
			padding: 0px 5px;
			font-size: 13px;
			position: absolute;
			top: -10px;
			left:140px;
		}
	}
	/*.special{
		padding: 15px 10px 10px; 
		border-bottom: 2px solid $color-azul-oscuro;
		h4{
			font-size: 12px;
			font-weight: 700;
		}
		span{
			background: $color-azul-oscuro;
			color: white;
			font-weight: 800;
			padding: 0px 5px;
			font-size: 13px;
			position: absolute;
			top: -7px;
			left: 60px;
		}
	}*/
	.edit{
		background:black;
		position:relative;
		padding-left: 18px;
		.texto{
			display:inline-block;
			position: absolute;
			left:2px;
			top: 5px;
		}
		.author{
			position: absolute;
			right:-3px;
			top: -1px;
		}
		.cita{
			width: 100%;
			padding: 0 66px;
			display: inline-block;
			background: white;
			border-radius: 5px;
			h4{
				font-weight: 700;
				font-size: 13px;
			}
			p{
				font-size: 12px;
				font-style: italic;
			}
			
		}
	}
}
.red{
	img{
		width:100%;
	}
	.first-nav{
		border-radius:5px;
		margin:auto;
		li{
			padding: 0px;
			margin: auto -3px;
			a{
				text-decoration:none;
				display:inline-block;
				font-size: 14px;
				padding:12px;
				background:$color-rojo-oscuro;
				color:white;
				border-left: 1px double $color-rojo-oscuro;
				border-right:1px double $color-rojo-oscuro;
			}
		}
	}

	.themes{
		width: 100%;
		margin:10px 0;
		background:$color-gris;
		border-radius: 5px;
		span:nth-child(1){
			display:inline-block;
			background: Black;
			color: white;
			font-size: 15px;
			font-family: "Oswald";
			padding: 5px 10px;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
		}
		.day{
			margin-bottom: 0;
			padding:0;
			display: inline-block;
			li{
				display:inline-block;
				a{
					text-decoration:none;
					color:$color-gris-oscuro;
					display: inline-block;
					padding-left:8px;
					padding-right:8px;
					font-size: 15px;
					.fa-circle{
						vertical-align: middle;
						font-size: 5px;
				}	}
			}

		}
		
	}
}
